<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- font-awesome social icons -->
        <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="{{ site.baseurl }}">{{ site.name }}</a></h1>
            <a class="extra" href="{{ site.baseurl }}">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                <a href="http://www.linkedin.com/pub/rodrigo-tolledo/43/b07/586"><i class="fa fa-linkedin-square fa-3x"></i></a>
                <a href="https://github.com/rodrigotolledo"><i class="fa fa-github-square fa-3x"></i></a>
                <a href="https://facebook.com/rodrigo.tolledo"><i class="fa fa-facebook-square fa-3x"></i></a>
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
